<h1><%= @part.name %></h1>
<p>Part Number: <%= @part.part_number %></p>
<p>Manufacturer: <%= @part.manufacturer %></p>
<p>Price: <%= number_to_currency(@part.price) %></p>
<p>Description: <%= @part.description %></p>

